extends template.jade

block content
	.author-page-intro
		.author-page-intro__text
			h2 О проекте
			.about-author-info
				p «У нашего сайта день рождения, и мы хотим воспользоваться случаем, чтобы с вами поговорить, вместе вспомнить, как все начиналось, и рассказать о нашей работе. Пять лет назад, мы, очертя голову, бросились в этот литературно-цифровой омут, начали с бешеным рвением…
			a(href="about-info.html").more Читать полностью
	.about-info
		h2 Об авторах
		.about-info__item
			.about-info__img
				img(src="img/js-img.jpg", alt="")
			.about-info__txt
				h4 Юлия Сычева
				p Я родилась 19 октября 1978 года в Москве. В детстве я любила длинные, приключенческие сказки вроде Незнайки и Буратино, Карлсона и Мэри Поппинс. Их можно было слушать из вечера в вечер, а днем проживать услышанное. 
				p Чуковского, кроме "Федориного горя", я не любила. Наверное, потому, что вообще не любила стихов. Что-то в естественной стройности их ритма мне слышалось монотонное, да и форма казалась уводящей от сути. 
				p Даже те мои стихи, что я рассказывала бабушке во время наших прогулок, а она тщательно записывала в особую тетрадь, на самом деле оказались прозой … с неправильным порядком слов, который я использую и сейчас. 
				p Стихи я расслышала, приняла и полюбила позже. Чуковского еще позже. И, как это ни странно, мой интерес к нему начался с интереса к его дочери. Все чуковское для меня, как от центра, идет от личности и творчества Лидии Корнеевны Чуковской. 
				p Как-то, когда мне было лет 17 или 18, я отправилась в книжный магазин на Арбате, купить "Квадригу" Семена Липкина. Книга, к моей радости, в магазине оказалась, а рядом на полке, создавая контраст коричневой обложке, стояла другая - зеленая. 
				p "Записки об Анне Ахматовой", Лидия Чуковская, - прочитала я. Имя автора мне ничего не говорило, но обложка понравилась, и я купила книгу. Дома я стала знакомиться с ней по привычке, открывать то в середине, то ближе к концу, читать вырванные из контекста фразы. Лишь прочитав до конца три тома, я поняла, что прозу Чуковской нельзя делить на слова и абзацы, нельзя читать построчно, как, например, Вольтера, иначе импульсы смыслов и чувств искажаются до неузнаваемости. 
				p В "Записках" больше, чем Ахматовой, я была очарована автором, тонкостью и независимостью ее суждений, преданностью русской литературе, цельностью характера. Через четыре года после знаменательного для меня приобретения я написала свою первую статью об ЛК, потом еще две. 
				p А в промежутке я сдружилась с Дашей. Это случилось на третьем курсе юридического факультета в Институте международной торговли и права. Уже не помню, как мы впервые заговорили о Чуковских, но с тех пор как будто бы и не останавливались. 
				p Оказывается, какое-то дальнее, негласное сознание уже давно вписало в мою систему ценностей и Корнея Чуковского. В мир моих интересов и пристрастий он явился в одночасье, разом во всех своих многочисленных амплуа: Чуковский-сказочник, художник, лукавый наблюдатель жизни, шоумен, как определили бы его сейчас, и, наконец, создатель историко-литературного явления, которое всего вернее было бы назвать chukovsky lifestyle. 
				p Как родилась идея создать сайт, мы уж не раз написали и рассказали, остается только добавить, что нашей задачей было познакомить людей изучающих и читающих Чуковских. Иначе говоря, мы создали сайт, для того, чтобы народная тропа, которая не зарастет, была народу удобна, и тема "Чуковский и эволюция" оставалась актуальной всегда. 
				p *** 
				p Я живу в Москве и работаю юристом. Моя юридическая специализация: авторское право и интеллектуальная собственность. Когда-то я работала в крупной консалтинговой фирме, потом - в большой производственной компании, которая делает кино, а теперь работаю в компании Walt Disney и очень этому рада. В свободное время я по-прежнему пишу статьи и прозу, читаю, хожу в театр, пытаюсь водить машину. Стараюсь много гулять и уделять внимание моей любимой собаке, кудлатой и непоседливой.
			.more.js-open Показать весь материал
		.about-info__item
			.about-info__img
				img(src="img/da-img.jpg", alt="")
			.about-info__txt
				h4 Дарья Авдеева
				p «Я родилась в Москве 23 января 1980 года, и Чуковский начался для меня, разумеется, с его чудесных сказок, с кино «Айболит», повтора нараспев вслед за родителями «у меня зазвонил телефон», «ехали медведи на велосипеде»...
				p «Я родилась в Москве 23 января 1980 года, и Чуковский начался для меня, разумеется, с его чудесных сказок, с кино «Айболит», повтора нараспев вслед за родителями «у меня зазвонил телефон», «ехали медведи на велосипеде»...
				p «Я родилась в Москве 23 января 1980 года, и Чуковский начался для меня, разумеется, с его чудесных сказок, с кино «Айболит», повтора нараспев вслед за родителями «у меня зазвонил телефон», «ехали медведи на велосипеде»...
				p «Я родилась в Москве 23 января 1980 года, и Чуковский начался для меня, разумеется, с его чудесных сказок, с кино «Айболит», повтора нараспев вслед за родителями «у меня зазвонил телефон», «ехали медведи на велосипеде»...
				p «Я родилась в Москве 23 января 1980 года, и Чуковский начался для меня, разумеется, с его чудесных сказок, с кино «Айболит», повтора нараспев вслед за родителями «у меня зазвонил телефон», «ехали медведи на велосипеде»...
			.more.js-open Показать весь материал
