extends template.jade

block content
	.author-page-intro
		img(src="img/korney-big.jpg", alt="")
		.author-page-intro__text
			h2 О себе
			span.date 1964 год
			.about-author-info
				p Конечно, мне не слишком-то нравится, что меня именуют одним из старейших писателей. Но ничего не поделаешь: я пишу и печатаюсь шестьдесят три года. Помню Куприна молодым человеком, еще до того, как он написал...
			a(href="page-korney.html").more Читать полностью
	.author-page.author-page--korney
		.author-page__photo
			h2 Фото и видео материалы
			.author-page__photo-list
				.author-page__photo-item
					a(href="img/photo-material-1.jpg" rel="next").fancybox
						img(src="img/photo-material-1.jpg", alt="")
				.author-page__photo-item
					a(href="img/photo-material-2.jpg" rel="next").fancybox
						img(src="img/photo-material-2.jpg", alt="")
				.author-page__photo-item
					a(href="img/photo-material-3.jpg" rel="next").fancybox
						img(src="img/photo-material-3.jpg", alt="")
				.author-page__photo-item
					a(href="img/photo-material-4.jpg" rel="next").fancybox
						img(src="img/photo-material-4.jpg", alt="")
			a(href="").more Все материалы
		.author-page__category
			h2 Категории
			+authorPage('author-page-1', '#', 'Сказки', '3', '«Люди, далекие от искусства, невежественные, называют это его мастерство имитаторством. Неверное, поверхностное слово!»', 'Из вступления Чуковского к книге И.Андроникова "Рассказы Литературоведа", 1973 г.')
			+authorPage('author-page-2', '#', 'Стихи', '5', '«Люди, далекие от искусства, невежественные, называют это его мастерство имитаторством. Неверное, поверхностное слово!»', 'Из вступления Чуковского к книге И.Андроникова "Рассказы Литературоведа", 1973 г.')
			+authorPage('author-page-3', 'proza.html', 'Проза', '7', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского "От двух до пяти" 1973 г.')
			+authorPage('author-page-4', '#', 'Критика', '23', '«Люди, далекие от искусства, невежественные, называют это его мастерство имитаторством. Неверное, поверхностное слово!»', 'Из вступления Чуковского к книге И.Андроникова "Рассказы Литературоведа", 1973 г.')
			+authorPage('author-page-5', '#', 'Воспоминания', '7', '«Хотя по календарю в Лондоне не должно быть никаких «событий»; хотя владыка всех лондонских событий Чемберлен, отдыхает теперь в Гайберри…»', 'Одесские новости, № 6054, 1973 г.')
			+authorPage('author-page-6', '#', 'Библиография', '11', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского "От двух до пяти" 1973 г.')
			+authorPage('author-page-7', '#', 'Pro et contra', '7', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского "От двух до пяти" 1973 г.')
			+authorPage('author-page-8', '#', 'Пародия', '5', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского "От двух до пяти" 1973 г.')
			
