extends template.jade

block content
	.breadcrumbs
		a(href="events.html").razdel Мероприятия
		span.str
		str.razdel 06.05.2016
	.events-info
		h1 Вечер памяти Л. Чуковской 
	.author-page.author-page--scene
		.author-page__photo
			.author-page__photo-list
				.author-page__photo-item
					a(href="")
						img(src="img/event-2.jpg", alt="")
		.author-page__category
			.author-page__item
				p Вечер состоится 2 января 2017 г. В музее Ф.М. Достоевского. Начало в 17 часов. 
				p Москва Чуковских — это Тверская улица и прилегающие к ней бульвары и переулки. Маршрут экскурсии начнется около Дома журналиста на Никитском бульваре, пройдет переулками до дома Чуковского на Тверской и закончится на Моховой у здания московского университета, где экскурсия пойдет по следам одной знаменательной прогулки с Чуковским, описанной Валентином Берестовым.
				p Экскурсовод расскажет, почему Чуковские переехали в Москву из Ленинграда, как были устроена их городская жизнь, в каких местах нашего города они чаще всего бывали и какие важные события пережили в Москве.
				p Участие необходимо предварительно подтвердить по адресу chukfamily@bk.ru
				.proza-tags.proza-tags--events
					span Тема:
					a(href="") Корней Чуковский
					a(href="") Критика
					a(href="") 1965 год
				.chuk-share.chuk-share--events
					<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
					<script src="//yastatic.net/share2/share.js"></script>
					<div class="ya-share2" data-services="facebook,gplus,twitter,vkontakte" data-counter=""></div>
