extends template.jade

block content
	.breadcrumbs
		a(href="events.html").razdel Мероприятия
		span.str
		str.razdel 06.05.2016
	.events-info
		h1 Вечер памяти Л. Чуковской "Линия жизни" в Архангельске
	.author-page.author-page--scene
		.author-page__photo
			h2 Фото и видео материалы
			.author-page__photo-list
				.author-page__photo-item
					a(href="")
						img(src="img/event-3.jpg", alt="")
		.author-page__category
			h2 Категории
			.author-page__item.author-page__item--scene
				h3
					span.header Отзывы
					span.number 3
				.author-page__info
					p.author-page__lnk
						a(href="events-item-article.html") Татьяна Вислых О вечере «Линия жизни»
					p.author-page__lnk
						a(href="") Светлана Лойченко Это такой огонь под пеплом
					p.author-page__lnk
						a(href="") Алексей Шептунов Формула любви и литературы  Лидии Чуковской
				.more.js-open Показать весь материал
			.author-page__item.author-page__item--scene
				h3
					span.header Выступления
					span.number 7
				.author-page__info
					p.author-page__lnk
						a(href="events-audio.html") О.Г. Стёпина
					p.author-page__lnk
						a(href="events-audio.html") Е.Ц. Чуковская - телефонное обращение
					p.author-page__lnk
						a(href="events-audio.html") С.А. Лурье
					p.author-page__lnk
						a(href="") Е.Н. Симонова
					p.author-page__lnk
						a(href="") П.М. Крючков
					p.author-page__lnk
						a(href="") Ю.Б. Сычёва
					p.author-page__lnk
						a(href="") Священник о. Иоанн Привалов
				.more.js-open Показать весь материал
