extends template.jade

block content
	.author-page-intro
		.author-page-intro__text
			h2 Друзья проекта
	.about-info
		.about-info__item
			.about-info__img
				img(src="img/friends-1.jpg", alt="")
			.about-info__txt
				h4 Галина Гордеева
				p Галина наш щедрый даритель - она дарит нам время. Бывает, она пишет в письме: «Отчего же вы не присылаете статей?» И мы - тут впору покаяться - тотчас же поддаемся искушению, находим те, до которых не доходили…
				p Чуковского, кроме "Федориного горя", я не любила. Наверное, потому, что вообще не любила стихов. Что-то в естественной стройности их ритма мне слышалось монотонное, да и форма казалась уводящей от сути.
				p Даже те мои стихи, что я рассказывала бабушке во время наших прогулок, а она тщательно записывала в особую тетрадь, на самом деле оказались прозой … с неправильным порядком слов, который я использую и сейчас.
				p Стихи я расслышала, приняла и полюбила позже. Чуковского еще позже. И, как это ни странно, мой интерес к нему начался с интереса к его дочери. Все чуковское для меня, как от центра, идет от личности и творчества Лидии Корнеевны Чуковской.
				p Как-то, когда мне было лет 17 или 18, я отправилась в книжный магазин на Арбате, купить "Квадригу" Семена Липкина. Книга, к моей радости, в магазине оказалась, а рядом на полке, создавая контраст коричневой обложке, стояла другая - зеленая.
			.more.js-open Показать весь материал
		.about-info__item
			.about-info__img
				img(src="img/friends-2.jpg", alt="")
			.about-info__txt
				h4 Надя Дегтярева
				p Надя в некотором роде вдохновительница нашего сайта. Она не просто подала нам пример, рассказала, что сайты может делать каждый (иметь бы желание и не жалеть бы сил), она научила нас как делать сайты, с лукавой присказкой "это легко" сумела втолковать довольно сложные вещи, объяснить азбуку верстальной науки. 
				p Чуковского, кроме "Федориного горя", я не любила. Наверное, потому, что вообще не любила стихов. Что-то в естественной стройности их ритма мне слышалось монотонное, да и форма казалась уводящей от сути.
				p Даже те мои стихи, что я рассказывала бабушке во время наших прогулок, а она тщательно записывала в особую тетрадь, на самом деле оказались прозой … с неправильным порядком слов, который я использую и сейчас.
				p Стихи я расслышала, приняла и полюбила позже. Чуковского еще позже. И, как это ни странно, мой интерес к нему начался с интереса к его дочери. Все чуковское для меня, как от центра, идет от личности и творчества Лидии Корнеевны Чуковской.
				p Как-то, когда мне было лет 17 или 18, я отправилась в книжный магазин на Арбате, купить "Квадригу" Семена Липкина. Книга, к моей радости, в магазине оказалась, а рядом на полке, создавая контраст коричневой обложке, стояла другая - зеленая.
			.more.js-open Показать весь материал
		.about-info__item
			.about-info__img
				img(src="img/friends-3.jpg", alt="")
			.about-info__txt
				h4 Тамилла Юханссон
				p Тамилла наша институтская подруга, свидетельница досайтовского увлечения Чуковскими, почетный член гильдии чукообожателей. Это она выносила без скуки многочасовые беседы о том, как делать сайт, как сортировать…
				p Чуковского, кроме "Федориного горя", я не любила. Наверное, потому, что вообще не любила стихов. Что-то в естественной стройности их ритма мне слышалось монотонное, да и форма казалась уводящей от сути.
				p Даже те мои стихи, что я рассказывала бабушке во время наших прогулок, а она тщательно записывала в особую тетрадь, на самом деле оказались прозой … с неправильным порядком слов, который я использую и сейчас.
				p Стихи я расслышала, приняла и полюбила позже. Чуковского еще позже. И, как это ни странно, мой интерес к нему начался с интереса к его дочери. Все чуковское для меня, как от центра, идет от личности и творчества Лидии Корнеевны Чуковской.
				p Как-то, когда мне было лет 17 или 18, я отправилась в книжный магазин на Арбате, купить "Квадригу" Семена Липкина. Книга, к моей радости, в магазине оказалась, а рядом на полке, создавая контраст коричневой обложке, стояла другая - зеленая.
			.more.js-open Показать весь материал
		.about-info__item
			.about-info__img
				img(src="img/friends-4.jpg", alt="")
			.about-info__txt
				h4 Ольга Канунникова
				p Оля - филолог и журналистка, ее статьи о Чуковском мы с радостью размещаем на сайте, так как знаем, какую бы тему она ни затронула - от ранних работ  К.И. Чуковского до рецензирования произведений о нем - это всегда будет…
				p Чуковского, кроме "Федориного горя", я не любила. Наверное, потому, что вообще не любила стихов. Что-то в естественной стройности их ритма мне слышалось монотонное, да и форма казалась уводящей от сути.
				p Даже те мои стихи, что я рассказывала бабушке во время наших прогулок, а она тщательно записывала в особую тетрадь, на самом деле оказались прозой … с неправильным порядком слов, который я использую и сейчас.
				p Стихи я расслышала, приняла и полюбила позже. Чуковского еще позже. И, как это ни странно, мой интерес к нему начался с интереса к его дочери. Все чуковское для меня, как от центра, идет от личности и творчества Лидии Корнеевны Чуковской.
				p Как-то, когда мне было лет 17 или 18, я отправилась в книжный магазин на Арбате, купить "Квадригу" Семена Липкина. Книга, к моей радости, в магазине оказалась, а рядом на полке, создавая контраст коричневой обложке, стояла другая - зеленая.
			.more.js-open Показать весь материал
		include incl-pagination.jade
