extends template.jade

block content
	.gallery
		h3 Фото и видео материалы
		ul.gallery-menu
			li(data-item="all").active 
				span все
			li(data-item="korney") 
				span К. Чуковский
			li(data-item="lidia") 
				span Л. Чуковская
			li(data-item="elena") 
				span Е. Чуковская
			li(data-item="nikolay") 
				span Н. Чуковский
		.gallery-albom-list
			+galleryAlbom('gallery-item.html', 'korney', 'rubric--korney', 'img/gallery-1.jpg', 'К. Чуковский: архив 1920 г')
			+galleryAlbom('gallery-item.html', 'lidia', 'rubric--lidia', 'img/gallery-2.jpg', 'Корней и Лидия Чуковские в гостях у кого-то')
			+galleryAlbom('gallery-item.html', 'elena', 'rubric--elena', 'img/gallery-3.jpg', 'Елена Чуковская в каком-то саду')
			+galleryAlbom('gallery-item.html', 'korney', 'rubric--korney', 'img/gallery-4.jpg', 'Корней и Елена Чуковские с кем-то и где-то')
			+galleryAlbom('gallery-item.html', 'elena', 'rubric--elena', 'img/gallery-5.jpg', 'Елена Чуковская в каком-то саду')
			+galleryAlbom('gallery-item.html', 'nikolay', 'rubric--nikolay', 'img/gallery-6.jpg', 'Корней и Елена Чуковские с кем-то и где-то')
		ul.pagination
				li.prev
					a(href="")
				li.active
					a(href="") 1
				li
					a(href="") 2
				li
					a(href="") 3
				li.next
					a(href="")
		a(href="").more-mobile Ещё
