extends template.jade

block content
	.breadcrumbs
		a(href="gallery.html").razdel Галерея
		span.str
		span К.Чуковский: архив 1920г.
	.gallery
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
		p 1
