extends template.jade

block content
	.gallery
		h3 Фото и видео материалы
		ul.gallery-menu
			li.active 
				a(href="#") все
			li
				a(href="#") К. Чуковский
			li
				a(href="#") Л. Чуковская
			li
				a(href="#") Е. Чуковская
			li
				a(href="#") Н. Чуковский
		.gallery-albom-list
			+galleryAlbom('gallery-item-photo.html', 'korney', 'gallery-albom-item--korney', 'rubric--korney', 'img/gallery-1.jpg', 'К. Чуковский: архив 1920 г')
			+galleryAlbom('gallery-item-video.html', 'lidia', 'gallery-albom-item--lidia', 'rubric--lidia', 'img/gallery-2.jpg', 'Корней и Лидия Чуковские в гостях у кого-то')
			+galleryAlbom('#', 'elena', 'gallery-albom-item--elena', 'rubric--elena', 'img/gallery-3.jpg', 'Елена Чуковская в каком-то саду')
			+galleryAlbom('#', 'korney', 'gallery-albom-item--korney', 'rubric--korney', 'img/gallery-4.jpg', 'Корней и Елена Чуковские с кем-то и где-то')
			+galleryAlbom('#', 'elena', 'gallery-albom-item--elena', 'rubric--elena', 'img/gallery-5.jpg', 'Елена Чуковская в каком-то саду')
			+galleryAlbom('#', 'nikolay', 'gallery-albom-item--nikolay', 'rubric--nikolay', 'img/gallery-6.jpg', 'Корней и Елена Чуковские с кем-то и где-то')
		ul.pagination
				li.prev
					a(href="")
				li.active
					a(href="") 1
				li
					a(href="") 2
				li
					a(href="") 3
				li.next
					a(href="")
		a(href="").more-mobile Ещё
