extends template.jade

block content
	.gallery.gallery--lidia
		.breadcrumbs
			a(href="gallery.html").razdel Галерея
			span.str
			span.razdel Е. Чуковская: видео
		.gallery-list
			a(href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" rel="next" class="various" title="Название видеоролика").gallery-list__item
				.gallery-list__img.gallery-list__img--video
					img(src="img/img-2.jpg" alt="")
				p Название видеоролика
			a(href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" rel="next" class="various" title="Длинное название видеоролика на две строки").gallery-list__item
				.gallery-list__img.gallery-list__img--video
					img(src="img/img-4.jpg" alt="")
				p Длинное название видеоролика на две строки
			a(href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" rel="next" class="various").gallery-list__item
				.gallery-list__img.gallery-list__img--video
					img(src="img/img-6.jpg" alt="")
			a(href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" rel="next" class="various").gallery-list__item
				.gallery-list__img.gallery-list__img--video
					img(src="img/img-6.jpg" alt="")
		ul.pagination
				li.prev
					a(href="")
				li.active
					a(href="") 1
				li
					a(href="") 2
				li
					a(href="") 3
				li.next
					a(href="")
		a(href="").more-mobile Ещё
