extends template.jade

block content
	.proza.proza--korney
		.breadcrumbs
			a(href="author-page.html").author-name КЧ
			span.str
			a(href="proza.html").razdel Проза
			span.str
			span.razdel Статьи
		.proza-navigate
			span По алфавиту 
			a(href="") По дате публикации 
			a(href="") По популярности
		.proza-contents
			.proza-contents__lnk
				p.lnk-item
					a(href="proza-item.html") Безумие
				p.lnk-add.lnk-add--download
					span.proza-download-lnk
						span Скачать:
						a(href="") epub
						a(href="") fb2
						a(href="") pdf
			.proza-contents__lnk
				p.lnk-item
					a(href="") Беседа о стихах
				p.lnk-add.lnk-add--audio
					a(href="#inline" class="js-various").audio-lnk прослушать
			.proza-contents__lnk
				a(href="") Беседа о стихах
			.proza-contents__lnk
				a(href="") Библиотека и школа
			.proza-contents__lnk
				a(href="") Бобровка на Саре
			.proza-contents__lnk
				a(href="") Великое в малом (этюд)
			.proza-contents__lnk
				a(href="") Вернуть ее имя литературе
			.proza-contents__lnk
				a(href="") Взгляд и нечтo
			.proza-contents__lnk
				p.lnk-item
					a(href="") Волшебство и реальность (совместно с С.Маршаком)
				p.lnk-add.lnk-add--download
					span.proza-download-lnk
						span Скачать:
						a(href="") epub
						a(href="") fb2
						a(href="") pdf
			.proza-contents__lnk
				a(href="") Всенародная забота о детях
			.proza-contents__lnk
				a(href="") Всесоюзная любовь
			.proza-contents__lnk
				a(href="") Вредная любовь
			.proza-contents__lnk
				a(href="") Взгляд и нечтo
			.proza-contents__lnk
				a(href="") Волшебство и реальность (совместно с С.Маршаком)
			.proza-contents__lnk
				a(href="") Воспитание совести
			.proza-contents__lnk
				a(href="") Всенародная забота о детях
			.proza-contents__lnk
				a(href="") Всесоюзная любовь
			.proza-contents__lnk
				a(href="") Вредная любовь
