extends template.jade

block content
	main
		.wrapper
			.proza.proza--korney
				.breadcrumbs
					a(href="author-page.html").author-name КЧ
					span.str
					span.razdel Проза
				+prozaItem('Воспоминания', '3', '«Люди, далекие от искусства, невежественные, называют это его мастерство имитаторством. Неверное, поверхностное слово!»', 'Из вступления Чуковского к книге И.Андроникова "Рассказы Литературоведа", 1973 г.')
				+prozaItem('Книги', '7', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского"От двух до пяти" 1973 г.')
				+prozaItem('Переписка', '7', '«Хотя по календарю в Лондоне не должно быть никаких «событий»; хотя владыка всех лондонских событий Чемберлен, отдыхает теперь в Гайберри…»', 'Корней Чуковского"От двух до пяти" 1973 г.')
				+prozaItem('Корреспонденции', '3', '«Люди, далекие от искусства, невежественные, называют это его мастерство имитаторством. Неверное, поверхностное слово!»', 'Из вступления Чуковского к книге И.Андроникова "Рассказы Литературоведа", 1973 г.')
				+prozaItem('Статьи', '7', '«В конце концов он доработается мало-помалу до более верного понимания действительности, но, конечно, нельзя ожидать, что за неправильной гипотезой...»', 'Корней Чуковского"От двух до пяти" 1973 г.')
