extends template.jade

block content
	.proza.proza--korney
		.breadcrumbs
			a(href="author-page.html").author-name КЧ
			span.str
			a(href="proza.html").razdel Проза
			span.str
			a(href="proza-books.html").razdel Книги
		.proza-contents
			h1 Lydia Korneevna Chukovskaya. <br> Her Life and Work by Bella Hirshorn.
			.proza-contents__lnk
				a(href="") Lydia Korneevna Chukovskaya. Her Life and Work by Bella Hirshorn. Глава 1 «Biographical material»
			.proza-contents__lnk
				a(href="") Lydia Korneevna Chukovskaya. Her Life and Work by Bella Hirshorn. Глава 1 «Biographical material»
			.proza-contents__lnk
				a(href="") Lydia Korneevna Chukovskaya. Her Life and Work by Bella Hirshorn. Глава 1 «Biographical material»
			.proza-contents__lnk
				a(href="") Lydia Korneevna Chukovskaya. Her Life and Work by Bella Hirshorn. Глава 1 «Biographical material»
