extends template.jade

block content
	main
		.wrapper
			.author-page-intro
				img(src="img/tamara-big.jpg", alt="")
				.author-page-intro__text
					h2 Тамара Габбе
					.about-author-info
						p «От друга я жду не осуждения, не ругательства, не казни, а теплого участия и восстановления меня любовью, от него я жду, что он половину моей ноши возьмет на себя, что он скроет от меня свою чистоту»…
					a(href="page-scene.html").more Читать полностью
			.author-page
				.author-page__photo
					h2 Фото и видео материалы
					.author-page__photo-list
						.author-page__photo-item
							a(href="")
								img(src="img/tamara-1.jpg", alt="")
						.author-page__photo-item
							a(href="")
								img(src="img/tamara-2.jpg", alt="")
					h2 Приложения
					.author-page__articles
						a(href="") Письма С.Я. Маршака Т.Г. Габбе
						a(href="") Tamara's Gabbe Museum
				.author-page__category
					h2 Категории
					.author-page__item.author-page--scene
						h3
							span.header Лидия Чуковская
							span.number 2
						.author-page__info
							p.author-page__lnk
								a(href="") Быль и небыль - сборник притч и былин
							p.author-page__lnk
								a(href="") По дорогам сказки - сборник сказок
						.more.js-open
					.author-page__item.author-page--scene
						h3 
							span.header Произведения Т.Габбе
							span.number 11
						.author-page__info
							p.author-page__lnk
								a(href="") Быль и небыль - сборник притч и былин
							p.author-page__lnk
								a(href="") По дорогам сказки - сборник сказок
							p.author-page__lnk
								a(href="") Авдотья Рязаночка
							p.author-page__lnk
								a(href="") Город Мастеров или Сказка о двух горбунах
							p.author-page__lnk
								a(href="") Быль и небыль - сборник притч и былин
							p.author-page__lnk
								a(href="") По дорогам сказки - сборник сказок
							p.author-page__lnk
								a(href="") Авдотья Рязаночка
							p.author-page__lnk
								a(href="") Город Мастеров или Сказка о двух горбунах
							p.author-page__lnk
								a(href="") Быль и небыль - сборник притч и былин
							p.author-page__lnk
								a(href="") По дорогам сказки - сборник сказок
							p.author-page__lnk
								a(href="") Авдотья Рязаночка
							p.author-page__lnk
								a(href="") Город Мастеров или Сказка о двух горбунах
						.more.js-open
					.author-page__item.author-page--scene
						h3 
							span.header О Тамаре Габбе
							span.number 6
						.author-page__info
							p.author-page__lnk
								a(href="") Краткая биографическая справка
							p.author-page__lnk
								a(href="") Александра Любарская «Мой друг бесценный…»
							p.author-page__lnk
								a(href="") Юрий Трифонов Записки соседа
							p.author-page__lnk
								a(href="") С. Маршак, К. Чуковский, А. Твардовский и др.  Некролог
							p.author-page__lnk
								a(href="") Краткая биографическая справка
							p.author-page__lnk
								a(href="") Александра Любарская «Мой друг бесценный…»
						.more.js-open
