$max-479: "max-width: 479px";
$min-480: "min-width: 480px";
$max-599: "max-width: 599px";
$min-600: "min-width: 600px";
$max-767: "max-width: 767px";
$min-768: "min-width: 768px";
$max-859: "max-width: 859px";
$min-860: "min-width: 860px";
$max-1023: "max-width: 1023px";
$min-1024: "min-width: 1024px";
$min-1280: "min-width: 1280px";
$max-1365: "max-width: 1365px";
$min-1366: "min-width: 1366px";
$min-1600: "min-width: 1600px";

+ 1_Старт.стр - index.html
+ 2_1_chukfamily-КЧ - author-page.html
+ 2_2_chukfamily-КЧ-читать далее - page-korney.html
+ 2_4_chukfamily-КЧ-проза - proza.html
+ 2_5_chukfamily-КЧ-проза-раздел - proza-razdel.html
+ 2_6_chukfamily-КЧ-проза-с - proza-item.html

- 3_1_за сценой-Т.Габбе
- 3_2_за сценой-т.габбе_(читать далее)

- 4_1_галерея(все подряд)
- 4_2_галерея(фильтр-КЧ)
- 4_3_галерея-выбран альбом
- 4_4_галерея-выбран альбом-поп_ап_просмотр

- 5_1_ивент(без будущего)
- 5_2_ивент(встречи есть)
- 5_3_ивент-06.02.06
- 5_4_ивент-06.02.06-выступл(аудио)

- 6_1_о проекте-опроекте
- 6_2_о проекте-опроекте-весь материал(нажато)
- 6_3_о проекте-друзья
- 6_4_о проекте-благодарности
