extends template.jade

block content
	.author-page-intro
		.author-page-intro__text
			h2 Слова благодарности
			p Мы благодарим всех авторов, которые присылали нам и разрешали размещать на сайте свои статьи и книги, а иногда даже писали специально для сайта: С.А. Лурье, Л.Г. Беспалову,  М.С. Петровского, Н.Н. Панасенко, М.В. Безродного, Бет Хольмгрен, Барри Шерра, Г.Е. Горелика,  Н.Е. Горбаневскую, М.В. Ефремову, Ирину Пономареву, Ирину Чайковскую, Федора Ермошина,  Т.В. Гордиенко, Ольгу Идельсон, Николая Макарова, Игоря Пудикова, Анастасию Кочеткову.
	.about-info
		.about-info__item
			.about-info__img
				img(src="img/thanks-1.jpg", alt="")
			.about-info__txt
				h4 Евгений Борисович Ефимов
				p За щедрость и строгость, привычку идти "до самой сути" и умение вести за собой других, за глубину бесед, за увлекательнейшие выступления на вечерах и конференциях (гости нашего сайта могут их послушать), и, конечно, за честь, которую он нам оказал, разрешив воплотиться на сайте частичке его памяти  о Лидии Корнеевне Чуковской.
		.about-info__item
			.about-info__img
				img(src="img/thanks-2.jpg", alt="")
			.about-info__txt
				h4 Евгения Викторовна Иванова
				p За дружеское расположение к нам, неизменную благосклонность к сайту, «постоянно действующее» разрешение помещать на нем любые работы, за научные изыскания и раскрытые факты, за все предисловия, публикации и статьи, за азарт, с которым они написаны, за жизнеутверждающее литературоведение.
		.about-info__item
			.about-info__img
				img(src="img/thanks-3.jpg", alt="")
			.about-info__txt
				h4 Елена Цезаревна Чуковская
				p И совершенно отдельно - Елену Цезаревну Чуковскую - за то, что наш сайт существует, за статьи и архивные материалы, за советы, защиту и поддержку, за драгоценные минуты нашего общения, за всю эту кипучую чуковскую жизнь, которую мы так любим и которая существует благодаря ей. Пять лет назад Елена Цезаревна, поверив в нас, разрешила создание сайта, и с тех пор у нас нет лучшего друга и читателя. Помощь Елены Цезаревны огромна и бесценна, несколькими словами ее не описать. Мы благодарны Елене Цезаревне за понимание, терпение и заботу, с которыми она относится к нам и нашему делу.
	.author-page-intro__text
		p Cотрудников дома-музея Корнея Чуковского в Переделкине: С. Агапова, Н. Продольнову,  Н. Александрову и В. Спектра. Эти люди не только радушно принимают нас в доме, но и поддерживают наше начинание, без критики или снисходительности, просто принимая наш сайт таким, как есть. Когда-то, теперь уже много лет назад, мы пришли на экскурсию, а ушли друзьями дома, "причастными" к его истории. 
		p Александру Ознобищеву - за фотографии, Ирину Никифорову - за юридическую помощь. 
		p Всех наших читателей, которые находили и присылали материалы для сайта, сканировали статьи, делились ссылками, рассказывали о вечерах, на которых они побывали, писали нам свои впечатления о прочитанных книгах и о сайте. Друзья, любая ваша помощь для нас подарок, мы помним и ценим ваше внимание!
